body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/img/desafio-biblico-landing-page-fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center; 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    color: #666;
    margin-bottom: 15px;
}

.ebook-image {
    margin-top: 30px;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid black;
    border-style: dashed;
    border-radius: 10px;
}

.btn-download {
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 13px 27px;
    background-color: #11d632c5;
    color: #000000;
    text-decoration: none;
    border: solid 1px black;
    border-radius: 15px;
    transition: 0.3s ease;
    font-size: 20px;
}

.btn-download:hover {
    background-color: #037a1dd0;
    color: #ffffff;
    transition: 0.5s;
    border-radius: 25px;
    cursor: pointer;
}

.highlight-section {
    display: flex;
    justify-content:center;
    flex-direction: column;
    background-color: #21dd95; 
    border: 3px dashed black;
    border-color: rgb(0, 140, 255);
    text-align: center; 
}

.highlight-text {
    color: #4d3636;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
}

.highlight-text1 {
    text-align: justify;
}

.highlight-text1 b{
    color: red;
}

.x{
    background-color: #e9ecaa;
    color: #000000;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid black;
}

